<launch>
  <!-- <arg name="rviz_config" default="$(find polygon_coverage_ros)/cfg/rviz/coverage_planner.rviz"/> -->

  <!-- <node name="rviz" pkg="rviz" type="rviz" output="log" args="-d $(arg rviz_config)"/> -->

  <node name="coverage_planner" pkg="polygon_coverage_ros" type="coverage_planner" output="screen" clear_params="true">

    <!-- Parameters for Coverage Planning -->
    <rosparam command="load" file="$(find polygon_coverage_ros)/cfg/coverage_planner.yaml"/>

    <!-- Load Map corner file -->
    <rosparam command="load" file="$(find path_planning_pkg)/config/polygon_moo_crew.yaml"/>

  </node>

</launch>
